# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Directorios temporales
temp_downloads/
mloader_downloads/

# Entornos virtuales
venv/
ENV/
.env

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 